site_name: pyHordcoin Documentation

theme:
  name: material

plugins:
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_source: true
            show_signature: true

nav:
  - Home: index.md
  - API Reference: 
    - Intro: api/intro.md
    - ConnectedInformation: api/ConnectedInformation.md
    - MaximiseEntropy: api/MaximiseEntropy.md
    - DistributionEntropy: api/DistributionEntropy.md